/venv
/Bandit
/.workspace
/.vscode
__pycache__
/.gitignore
/.pytest_cache  
/tmp
/lib
/.venv
/.chat
/__pycache__
.env
appmap.log
package.json
user_progress.json
.idx/dev.nix
package-lock.json
.gitignore
.idx/integrations.json
/.comment
/user_progress.json
/.dependencygraph
/appmap.log
/package-lock.json
/package.json
/Pipfile
/Pipfile.lock
/poetry.lock
Pipfile
tests/pytest_app.py
tests/unittest_app.py
tests/__init__.py
/project_overview.md
/pyproject.toml
/archive
/src/__pycache__
/.env
/appmap.yml
/src/templates/good_ones.md