/venv
/Bandit
/.workspace
/.vscode
__pycache__
/.gitignore
/.pytest_cache  
/tmp
/lib
/.venv
/.chat
/__pycache__
.env
appmap.log
package.json
user_progress.json
v1.2-WORKING-DEMO.tar
user_progress.json
