# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc
project-context.xml
.vscode/_PUBLIC-v1.2.code-workspace
/.dependencygraph
bandit_levels.py
MCP_SERVER/Any Chat Completions.url
MCP_SERVER/Awesome MCP Servers by appcypher.url
MCP_SERVER/Awesome MCP Servers by punkpeye.url
MCP_SERVER/Awesome MCP Servers by wong2.url
MCP_SERVER/BigQuery.url
MCP_SERVER/brave-search
MCP_SERVER/Browserbase.url
MCP_SERVER/ChatSum.url
MCP_SERVER/cognee-mcp.url
MCP_SERVER/Contentful-mcp.url
MCP_SERVER/Discord Server.url
MCP_SERVER/Docker.url
MCP_SERVER/everything
MCP_SERVER/Exa.url
MCP_SERVER/fetch
MCP_SERVER/filesystem
MCP_SERVER/FireCrawl.url
MCP_SERVER/gdrive
MCP_SERVER/git
MCP_SERVER/github
MCP_SERVER/HuggingFace Spaces.url
MCP_SERVER/MCP Installer.url
MCP_SERVER/MCP X Community.url
MCP_SERVER/mcp-cli.url
MCP_SERVER/mcp-get.url
MCP_SERVER/mcp-manager.url
MCP_SERVER/MCPHub.url
MCP_SERVER/memory
MCP_SERVER/MSSQL.url
MCP_SERVER/MySQL-1.url
MCP_SERVER/Neo4j.url
MCP_SERVER/Obsidian Markdown Notes.url
MCP_SERVER/Open-Sourced MCP Servers Directory.url
MCP_SERVER/OpenRPC.url
MCP_SERVER/Pandoc.url
MCP_SERVER/Playwright.url
MCP_SERVER/postgres
MCP_SERVER/puppeteer
MCP_SERVER/RAG Web Browser.url
MCP_SERVER/Rememberizer AI.url
MCP_SERVER/Search1API.url
MCP_SERVER/sequentialthinking
MCP_SERVER/Smithery.url
MCP_SERVER/sqlite
MCP_SERVER/Tavily search.url
MCP_SERVER/Vega-Lite.url
MCP_SERVER/X (1Twitter).url
MCP_SERVER/X (Twitter).url
.WIP/bandit-gui.html
.vscode/PythonImportHelper-v2-Completion.json
