[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
paramiko = "==3.4.0"
python-dotenv = "==1.0.0"
flask-socketio = "==5.3.6"

[dev-packages]
flask = "==2.3.3"
paramiko = "==3.4.0"
python-dotenv = "==1.0.0"
flask-socketio = "==5.3.6"

[requires]
python_version = "3.12"
